<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Xiwami Articles Management</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Application Specific CSS -->
    <link href="css/app.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/x-handlebars" data-template-name="index">
        <div class="ember-template-name">
            This is the index template
        </div>
        <div class="page-header">
            <h1>{{pageHeader}}</h1>
        </div>
        <p class="lead">
            {{pageDescription}}
        </p>
        <div>
            Index Main Content Here <br /><br />


            Selected: {{selected}}
            <!-- Standard gray default button with gradient -->
            {{#bs-button}}Content{{/bs-button}}

            <!--Inline text as button content-->
            {{bs-button title="Inline Text"}}

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            {{#bs-button type="primary"}}Primary{{/bs-button}}

            <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
            {{#bs-button type="link"}}Link{{/bs-button}}

        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="articles/search">
        <div class="ember-template-name">
            This is the search template
        </div>
        <div class="page-header">
            <h1>{{pageHeader}}</h1>
        </div>
        <p class="lead">
            {{pageDescription}}
        </p>
        <div>
            Search Result <br /><br />
            {{#each doc in model.response.docs}}
            <div class="row">
                <div class="col-md-12">
                    <a {{bindattr href="doc.url" }}>{{doc.title}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">{{doc.url}}</div>
            </div>
            <div id="myContent">
                {{doc.textContent}}
            </div>
            {{/each}}
        </div>
    </script>

    <script type="text/x-handlebars" id="components/search-widget">
        Search : {{input value=query}}
        <button {{action "search" }}>Search</button>
    </script>

    <script type="text/x-handlebars" data-template-name="articles">
        <div class="ember-template-name">
            This is the articles template
        </div>
        Articles Outliet Below
        <br />
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="articles/index">
        <div class="ember-template-name">
            This is the articles/index template
        </div>
        {{#each article in model}}
        <div class="row">
            <div class="col-md-5">{{article.title}}</div>
            <div class="col-md-4">{{article.snippet}}</div>
            <div class="col-md-2">{{article.creationDate}}</div>
            <div class="col-md-1">{{#link-to "article" article}}Detail{{/link-to}}</div>
        </div>
        <br />
        {{/each}}

    </script>

    <script type="text/x-handlebars" data-template-name="articles/add">
        <div class="ember-template-name">
            This is the articles/add template
        </div>
        <div class="page-header">
            <h1>{{pageHeader}}</h1>
        </div>
        <div>
            <label>URL</label>
            {{input value=url class="url_box"}}
            <button {{action 'save' }}>Save</button>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="articles/favorites">
        <div class="ember-template-name">
            This is the articles/favorites template
        </div>
        {{#each article in model}}
        <div class="row">
            <div class="col-md-3">{{article.title}}</div>
            <div class="col-md-3">{{article.snippet}}</div>
            <div class="col-md-3">{{article.creationDate}}</div>
            <div class="col-md-3">{{#link-to "article" article}}Detail{{/link-to}}</div>
        </div>
        {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="recent">
        <div class="ember-template-name">
            This is the recent template
        </div>
        <div>
            Recent Articles
        </div>
        <div>
            Recent Discussions
        </div>
        <div>
            Recent Postings
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="explore">
        <div class="ember-template-name">
            This is the explore template
        </div>
        <ul>
            <li>Clustering of documents into categories for this user</li>
            <li>Pre-defined generic categories such as Finance, Literature, Sports or Technology</li>
            <li>Recommendation: based on preference, activities and ratings, we would recommend articles for this specific user</li>
        </ul>
        <div>
            <h3>Clustering Result</h3>
            <div>

            </div>
        </div>
        <div>
            <h3>Classification</h3>
            <div>

            </div>
        </div>
        <div>
            <h3>Recommendation</h3>
            <div>

            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="article">
        <div class="ember-template-name">
            This is the article template
        </div>
        <div class="ember-template-name">
            Outlet for article tempalte is below
        </div>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="article/index">
        <div class="ember-template-name">
            This is the article/index template
        </div>

        <div class="row">
            <div class="col-md-6"><strong>ID:</strong> {{id}}</div>
            <div class="col-md-6"><strong>IsFavorite:</strong> {{isFavorite}}</div>
        </div>
        <div class="row">
            <div class="col-md-12"><strong>Title:</strong> {{title}}</div>
        </div>
        <div class="row">
            <div class="col-md-6"><strong>Published Date:</strong> {{publishTime}}</div>
            <div class="col-md-6"><strong>Added Date:</strong> {{creationDate}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{#link-to "article.edit" id}}Edit{{/link-to}}</div>
            <div class="col-md-3">{{#link-to "article.edit" id}}Share{{/link-to}}</div>
        </div>
        <div class="row" id="myContent">
            {{{controller.model.htmlContent}}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="article/edit">
        <div class="ember-template-name">
            This is the article/edit template
        </div>

        <div class="row">
            <div class="col-md-12"><strong>ID:</strong> {{input value=id}}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    is Favorite:
                    {{view Ember.Checkbox checkedBinding="isFavorite"}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    Title:
                    {{view Ember.TextField class="edit_box" valueBinding="title"}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    Added Date:
                    {{view Ember.TextField class="edit_box" valueBinding="creationDate"}}
                </label>
            </div>
        </div>




        <button>Save</button>



    </script>

    <script type="text/x-handlebars" data-template-name="navigation">
        <ul class="nav nav-tabs">
            {{#view view.NavItemView item="home" }}
            <a {{action gotohome}}>Home</a>
            {{/view}}
            {{#view view.NavItemView item="profiles" }}
            <a {{action gotoprofiles}}>Profiles</a>
            {{/view}}
            {{#view view.NavItemView item="messages" }}
            <a {{action gotomessages}}>Messages</a>
            {{/view}}
        </ul>
    </script>

</head>

<body>
    <script type="text/x-handlebars">
        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Xiwami</a>

                    </div>
                    <div class="collapse navbar-collapse">
                        {{search-widget action="search"}}
                        {{bs-pills contentBinding="content" selectedBinding="selected"}}

                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <!-- Begin page content -->
            <div class="container">
                {{outlet}}
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted credit">
                    Adarp LLC 2014
                </p>
            </div>
        </div>

    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/libs/handlebars-1.0.0.js"></script>
    <script src="js/libs/ember-1.1.2.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/libs/localstorage_adapter.js"></script>
    <script src="js/components/bs-core.max.js"></script>
    <script src="js/components/bs-nav.max.js"></script>
    <script src="js/components/bs-button.max.js"></script>

    <script src="js/app.js"></script>
    <script src="js/models/store.js"></script>
    <script src="js/controllers/articles_controller.js"></script>
    <script src="js/views/views.js"></script>
    <script src="js/components/search-widget.js"></script>

</body>
</html>
